# Node modules
node_modules/

# Environment variables
.env

# OS files
VS Code.code-workspace

# bat files
.opt1.bat
.start.bat

# utils
.bcrypt.js

# Private Files
files/*
!files/example.txt

# values
data/mainRaw.json
data/rawValue.json
data/options.json